body 
{
	background-color: #696969;
	background-image: url('https://images.alphacoders.com/743/74333.jpg');
	background-size: cover;
	margin: 0;
	padding: 0;
}

.a {
	text-align: center; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: gray;
}
.text_first
{
	text-align: center; 
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: white;
	margin-left: 80px;
	margin-right: 80px;
	color: black;
	font-family: arial;
	font-size:22px;
}
.video
{
    margin-top:40px;	
}
.video_text
{
	font-size: 25px;
	margin-top:70px;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: gray;	
}
.text_second
{
	margin-left: 130px;
	color: white;
	font-family: arial;
	font-size:18px;
}
.text_third
{
	margin-left: 900px;
	color: white;
	font-family: arial;
	font-size:18px;
	margin-top:-220px;s
}
.text_center
{
	color: red;
	text-align: center;
	font-size:20px;
}

.navbar 
{
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	background-color: blue;
	font-family: arial;
	font-size: 25px;
}
.nav
{
	float: right;
	padding: 15px;
}
.photo
{
	margin-top: 260px;
	margin-left: 20px;
}
.photo1
{
	margin-top: 260px;
	margin-left: 300px;
}
.photo2
{
	margin-top: -331px;
	margin-left: 850px;
}
.photo3
{
	margin-top: -331px;
	margin-left: 1120px;
}
ul li 
{
display: inline-block;
margin-right: 80px;
list_style: none;
}
ul li a
{
	text-decoration: none;
	padding: 25px 10px;
	color: #FFFFFF;
}
ul:hover li a:hover
{
	font-size: 27px;
	background-color:#808080;
}
a:hover
{
	font-size: 18px;
	background-color:#808080;
}
